<h1><font color=#"0000ff">Welcome to the Simple Calculator</font></h1>
<h2>Please select math operation:</h2>
<form method="post" action="operation">
	<input type="radio" name="option" value="+"><font color="#bf00ff">Add</font><br>
	<input type="radio" name="option" value="-"><font color="#ff0000">Subtract</font><br>	
	<input type="radio" name="option" value="*"><font color="#00ff00">Multiply</font><br>
	<input type="radio" name="option" value="/"><font color="#ff8000">Divide</font><br>
	<input type="submit" value="next">
</form>



