<h1>Please input two numbers:</h1>
<form method="post" action="numbers">
	<h3>First Number:</h3> <input type="number" name="num1"><br>
	<h3>Second Number:</h3> <input type="number" name="num2"><br>
	<p><input type="submit" value="next"></p>
</form>