<h2>Your math equation and result is <%=num1%> <%=session[:option]%> <%=num2%> = <%=session[:results]%>.</h2> 

<h3> Please select next if you would like to input different numbers.</h3>
<form method="post" action="return">
	<p><input type="submit" value="next"></p>
</form>